html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*

@include media($large-tablet) {

}

*/
@font-face {
  font-family: "Tall Films";
  src: url(../Tall_Films_Expanded.ttf); }

body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  min-width: 1360px;
  background: #1f2c38; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    body {
      min-width: 0; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    body {
      min-width: 0; } }
  @media screen and (max-width: 480px) {
    body {
      min-width: 0; } }

.heroContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }

.heroContainerThanks {
  position: relative;
  min-height: 500px;
  margin-top: -75px;
  z-index: -1px; }

.hero {
  font-family: "Tall Films";
  background: url("../images/background2.jpg");
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .hero {
      height: 500px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .hero {
      height: 500px; } }
  @media screen and (max-width: 480px) {
    .hero {
      height: 500px; } }

.heroCover {
  position: absolute;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(31, 44, 56, 0.9); }

.heroCoverThanks {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(31, 44, 56, 0.9); }

.header {
  height: 75px;
  font-family: "Tall Films";
  background-color: rgba(31, 44, 56, 0.9);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 10%;
  z-index: 1; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .header {
      display: none; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .header {
      display: none; } }
  @media screen and (max-width: 480px) {
    .header {
      display: none; } }

.hamburgerContainer {
  background: rgba(31, 44, 56, 0.9);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .hamburgerContainer {
      display: inline-block;
      width: 100%;
      height: 75px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .hamburgerContainer {
      display: inline-block;
      width: 100%;
      height: 75px; } }
  @media screen and (max-width: 480px) {
    .hamburgerContainer {
      display: inline-block;
      width: 100%;
      height: 75px; } }

.hamburger {
  height: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 20px;
  padding: 0;
  display: none;
  z-index: 10; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .hamburger {
      display: inline-block; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .hamburger {
      display: inline-block; } }
  @media screen and (max-width: 480px) {
    .hamburger {
      display: inline-block; } }

.headerThanks {
  height: 75px;
  font-family: "Tall Films";
  width: 100%;
  position: relative;
  z-index: 1; }

.headerName {
  margin: 0;
  color: #dddddd;
  float: left;
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.headerList {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.headerListItem {
  display: inline-block;
  margin: 0 25px;
  font-size: 2rem; }

.headerListItemLink {
  color: #dddddd;
  text-decoration: none;
  position: relative; }

.headerListItemLink:after {
  content: '';
  display: block;
  border-bottom: 1px solid #ed7331;
  width: 0;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transition: .3s ease; }

.headerListItemLink:hover:after {
  left: -10%;
  width: 120%; }

.headerArrowContainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  display: none;
  margin-left: 5%; }
  .headerArrowContainer::after {
    clear: both;
    content: "";
    display: table; }

.headerArrow {
  height: 50px;
  display: block; }

.headerArrowHover {
  height: 50px;
  display: none; }

.heroContent {
  height: calc(100vh - 75px); }

.heroContentHeader {
  color: #ed7331;
  margin: 0;
  font-weight: lighter;
  font-size: 6rem;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-110%); }

.heroContentSubheader {
  color: #ed7331;
  margin: 0 0 20px 0;
  font-weight: normal;
  font-size: 4rem;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-110%); }
  @media screen and (max-width: 480px) {
    .heroContentSubheader {
      font-size: 3rem; } }

.heroContentSubheaderThanksLink {
  text-decoration: none;
  color: #ed7331;
  padding: 5px 30px;
  transition: all 0.25s ease;
  border-radius: 4px; }
  .heroContentSubheaderThanksLink:hover {
    background: #ed7331;
    color: #d0d0d0; }

.about {
  min-height: calc(100vh - 140px);
  background: #effbfe;
  color: #ed7331;
  padding: 115px 0 10px 0;
  margin-top: 100vh; }

.aboutHeader {
  margin: 0 auto 20px auto;
  text-align: center;
  font-weight: lighter;
  font-size: 4rem; }

.aboutMe {
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
  padding: 0 5% 60px 5%;
  margin: 0 10%;
  border-bottom: 1px solid #e8ebee; }

.aboutSkillSetContainer {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0 80px 0;
  border-bottom: 1px solid #e8ebee; }
  .aboutSkillSetContainer::after {
    clear: both;
    content: "";
    display: table; }

.aboutSkillSetContainerLeft {
  width: 49%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  padding-left: 5%; }

.aboutSkillSetContainerLeftHeading {
  font-weight: lighter;
  font-size: 2.5rem;
  margin: 0 0 20px 0; }

.aboutSkillSetContainerRight {
  width: 49%;
  display: inline-block;
  float: right;
  box-sizing: border-box;
  padding-right: 5%; }

.aboutSkillSetList {
  list-style: none;
  margin: 0;
  padding: 0; }

.aboutSkillSetListItem {
  background: #e8ebee;
  padding: 4px;
  border-radius: 5px;
  margin: 5px; }

.aboutSkillSetListItemName {
  background: #ed7331;
  color: #dddddd;
  padding: 2px 10px;
  border-radius: 5px; }

.html {
  width: 90%; }

.javascript {
  width: 80%; }

.react {
  width: 70%; }

.jquery {
  width: 70%; }

.underscore {
  width: 65%; }

.backbone {
  width: 70%; }

.git {
  width: 50%; }

.ajax {
  width: 60%; }

.bourbon {
  width: 75%; }

.parse {
  width: 55%; }

.projects {
  min-height: 100vh;
  background: #effbfe;
  color: #d0d0d0;
  position: relative;
  padding: 115px 0 100px 0;
  z-index: -1; }

.projectsHeader {
  margin: 0 auto 40px auto;
  text-align: center;
  font-size: 4rem;
  font-weight: lighter;
  color: #ed7331; }

.projectsList {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 90%; }

.projectsListItem {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 10px;
  width: 50%;
  display: inline-block; }

.projectListItemImageContainer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  position: relative; }

.projectListItemDescription {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  background: #ed7331;
  opacity: 0;
  transition: opacity 0.75s ease; }
  .projectListItemDescription:hover {
    opacity: .97; }

.projectListItemDescriptionName {
  font-size: 3rem;
  font-weight: lighter;
  color: #dddddd;
  margin: 5px auto 10px auto; }

.projectListItemDescriptionText {
  font-size: 1.5rem;
  letter-spacing: 1.1px;
  line-height: 3rem; }

.projectListItemDescriptionLink {
  border: 1px solid #dddddd;
  font-weight: bold;
  letter-spacing: 2px;
  color: #dddddd;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.5rem; }
  .projectListItemDescriptionLink:hover {
    background: #dddddd;
    color: #ed7331; }

.projectListItemImage {
  width: 100%;
  border-radius: 5px; }

.contact {
  min-height: calc(100vh - 115px);
  background: #222222;
  color: #d0d0d0;
  padding: 115px 10% 50px 10%;
  color: #ed7331; }
  .contact::after {
    clear: both;
    content: "";
    display: table; }

.contactLeft {
  width: 40%;
  display: inline-block;
  float: left; }

.contactHeader {
  font-size: 2rem;
  margin: 0 0 15px 0;
  font-weight: lighter; }

.contactLinkWrap {
  display: block;
  margin: 5px 0; }

.contactIcon {
  width: 25px; }

.contactLink {
  text-decoration: none;
  box-sizing: border-box;
  color: #ed7331;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 2.25rem;
  padding: 3px 18px;
  border-radius: 3px;
  transition: all 0.25s ease; }
  .contactLink:hover {
    background: #ed7331;
    color: #d0d0d0; }

.contactRight {
  width: 58%;
  display: inline-block;
  float: right;
  text-align: right; }

.contactFormHeader {
  font-weight: lighter;
  font-size: 3rem;
  margin: 0; }

.formElement {
  box-sizing: border-box;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 10px 0;
  border: none; }

.formTopRow {
  width: 100%; }

.formName {
  width: 45%;
  margin-right: 10%; }

.formEmail {
  width: 45%; }

.formCompany {
  width: 100%; }

.formComments {
  width: 100%; }

.formSubmit {
  width: 45%;
  color: #d0d0d0;
  background: #ed7331;
  transition: all 0.25s ease; }
  .formSubmit:hover {
    background: white;
    color: #ed7331; }

.footer {
  background: #222222;
  padding: 0 10%; }

.footerText {
  border-top: 1px solid #141414;
  color: rgba(237, 115, 49, 0.4);
  margin: 0;
  padding: 10px 0 20px 0; }
