html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*

@include media($large-tablet) {

}

*/
@font-face {
  font-family: "Tall Films";
  src: url(../Tall_Films_Expanded.ttf); }

body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background: #1f2c38;
  position: relative;
  z-index: -2; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    body {
      min-width: 0; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    body {
      min-width: 0; } }
  @media screen and (max-width: 480px) {
    body {
      min-width: 0; } }

.lightContainerBackground {
  width: 100%;
  background: #effbfe; }

.lightContainerContainer {
  margin: 0 auto;
  max-width: 1500px; }

.darkContainerBackground {
  width: 100%;
  background: #222222; }

.darkContainerContainer {
  margin: 0 auto;
  max-width: 1500px; }

.heroContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .heroContainer {
      margin-top: 50px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .heroContainer {
      margin-top: 50px; } }
  @media screen and (max-width: 480px) {
    .heroContainer {
      margin-top: 50px; } }

.heroContainerThanks {
  position: relative;
  min-height: 500px;
  margin-top: -75px;
  z-index: -1px; }

.hero {
  font-family: "Tall Films";
  background: url("../images/background.jpg");
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .hero {
      height: 1000px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .hero {
      height: 1000px; } }
  @media screen and (max-width: 480px) {
    .hero {
      height: 1000px; } }

.heroCover {
  position: absolute;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(31, 44, 56, 0.9); }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .heroCover {
      top: 0; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .heroCover {
      top: 0; } }
  @media screen and (max-width: 480px) {
    .heroCover {
      top: 0; } }

.heroCoverThanks {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(31, 44, 56, 0.9); }

.header {
  height: 75px;
  font-family: "Tall Films";
  background-color: rgba(31, 44, 56, 0.9);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 10%;
  z-index: 1; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .header {
      display: none; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .header {
      display: none; } }
  @media screen and (max-width: 480px) {
    .header {
      display: none; } }

.hamburgerImageContainer {
  background: rgba(31, 44, 56, 0.9);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .hamburgerImageContainer {
      display: inline-block;
      width: 100%;
      height: 50px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .hamburgerImageContainer {
      display: inline-block;
      width: 100%;
      height: 50px; } }
  @media screen and (max-width: 480px) {
    .hamburgerImageContainer {
      display: inline-block;
      width: 100%;
      height: 50px; } }

.hamburger {
  height: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  padding: 0;
  display: none;
  z-index: 10; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .hamburger {
      display: inline-block; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .hamburger {
      display: inline-block; } }
  @media screen and (max-width: 480px) {
    .hamburger {
      display: inline-block; } }

.hamburgerTopOfPage {
  width: 30px;
  float: right;
  margin-right: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  display: none; }

.hamburgerList {
  position: fixed;
  top: 50px;
  left: -2000px;
  right: 2000px;
  list-style: none;
  margin: 0;
  padding: 0;
  background: rgba(31, 44, 56, 0.9);
  transition: all 0.1s ease;
  z-index: 1; }

.hamburgerListItem {
  padding: 5px 0 5px 20px;
  border-top: 1px solid #15222e;
  margin: 0; }

.hamburgerListItemLink {
  color: #d0d0d0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: lighter; }

.headerThanks {
  height: 75px;
  font-family: "Tall Films";
  width: 100%;
  position: relative;
  z-index: 1; }

.headerName {
  margin: 0;
  color: #dddddd;
  float: left;
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.headerList {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.headerListItem {
  display: inline-block;
  margin: 0 25px;
  font-size: 2rem; }

.headerListItemLink {
  color: #dddddd;
  text-decoration: none;
  position: relative; }

.headerListItemLink:after {
  content: '';
  display: block;
  border-bottom: 1px solid #ed7331;
  width: 0;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transition: .3s ease; }

.headerListItemLink:hover:after {
  left: -10%;
  width: 120%; }

.headerArrowContainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  display: none;
  margin-left: 5%; }
  .headerArrowContainer::after {
    clear: both;
    content: "";
    display: table; }

.headerArrow {
  height: 50px;
  display: block; }

.headerArrowHover {
  height: 50px;
  display: none; }

.heroContent {
  height: calc(100vh - 75px);
  min-height: 200px; }

.heroContentHeader {
  color: #ed7331;
  margin: 0;
  font-weight: lighter;
  font-size: 6rem;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-110%); }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .heroContentHeader {
      font-size: 5rem; } }
  @media screen and (max-width: 480px) {
    .heroContentHeader {
      font-size: 4rem; } }

.heroContentSubheader {
  color: #ed7331;
  margin: 0 0 20px 0;
  font-weight: normal;
  font-size: 4rem;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-110%); }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .heroContentSubheader {
      font-size: 3.5rem; } }
  @media screen and (max-width: 480px) {
    .heroContentSubheader {
      font-size: 3rem; } }

.heroContentSubheaderThanksLink {
  text-decoration: none;
  color: #ed7331;
  padding: 5px 30px;
  transition: all 0.25s ease;
  border-radius: 4px; }
  .heroContentSubheaderThanksLink:hover {
    background: #ed7331;
    color: #d0d0d0; }

.about {
  min-height: calc(100vh - 140px);
  background: #effbfe;
  color: #ed7331;
  padding: 115px 0 10px 0;
  margin-top: 100vh; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .about {
      padding-top: 75px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .about {
      padding-top: 75px; } }
  @media screen and (max-width: 480px) {
    .about {
      padding-top: 75px; } }

.aboutHeader {
  margin: 0 auto 20px auto;
  text-align: center;
  font-weight: lighter;
  font-size: 4rem; }

.aboutMe {
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
  padding: 0 5% 60px 5%;
  margin: 0 10%;
  border-bottom: 1px solid #e8ebee; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .aboutMe {
      margin: 0 5%;
      padding: 0 0 60px 0; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .aboutMe {
      margin: 0 5%;
      padding: 0 0 60px 0; } }
  @media screen and (max-width: 480px) {
    .aboutMe {
      margin: 0 5%;
      padding: 0 0 60px 0; } }

.aboutSkillSetContainer {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0 80px 0;
  border-bottom: 1px solid #e8ebee; }
  .aboutSkillSetContainer::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .aboutSkillSetContainer {
      width: 100%;
      text-align: center; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .aboutSkillSetContainer {
      width: 100%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .aboutSkillSetContainer {
      width: 100%;
      text-align: center; } }

.aboutSkillSetContainerLeft {
  width: 49%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  padding-left: 5%; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .aboutSkillSetContainerLeft {
      width: 100%;
      text-align: center;
      padding-right: 5%; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .aboutSkillSetContainerLeft {
      width: 100%;
      padding-right: 5%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .aboutSkillSetContainerLeft {
      width: 100%;
      padding-right: 5%;
      text-align: center; } }

.aboutSkillSetContainerLeftHeading {
  font-weight: lighter;
  font-size: 2.5rem;
  margin: 0 0 20px 0; }

.aboutSkillSetContainerRight {
  width: 49%;
  display: inline-block;
  float: right;
  box-sizing: border-box;
  padding-right: 5%; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .aboutSkillSetContainerRight {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      padding-left: 5%; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .aboutSkillSetContainerRight {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      padding-left: 5%; } }
  @media screen and (max-width: 480px) {
    .aboutSkillSetContainerRight {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      padding-left: 5%; } }

.aboutSkillSetList {
  list-style: none;
  margin: 0;
  padding: 0; }

.aboutSkillSetListItem {
  background: #e8ebee;
  padding: 4px;
  border-radius: 5px;
  margin: 5px; }

.aboutSkillSetListItemName {
  background: #ed7331;
  color: #dddddd;
  padding: 2px 10px;
  border-radius: 5px; }

.html {
  width: 90%; }

.javascript {
  width: 80%; }

.react {
  width: 70%; }

.jquery {
  width: 70%; }

.underscore {
  width: 65%; }

.backbone {
  width: 70%; }

.git {
  width: 50%; }

.ajax {
  width: 60%; }

.bourbon {
  width: 75%; }

.parse {
  width: 55%; }

.projects {
  min-height: 100vh;
  background: #effbfe;
  color: #d0d0d0;
  position: relative;
  padding: 75px 0 75px 0; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .projects {
      width: 100%;
      text-align: center; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .projects {
      width: 100%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .projects {
      width: 100%;
      text-align: center; } }

.projectsHeader {
  margin: 0 auto 40px auto;
  text-align: center;
  font-size: 4rem;
  font-weight: lighter;
  color: #ed7331; }

.projectsList {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 90%; }

.projectsListItem {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 10px;
  width: 50%;
  display: inline-block; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .projectsListItem {
      width: 100%;
      padding: 0; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .projectsListItem {
      width: 100%;
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .projectsListItem {
      width: 100%;
      padding: 0; } }

.projectListItemImageContainer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  position: relative; }

.projectListItemDescription {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  background: #ed7331;
  opacity: 0;
  transition: opacity 0.75s ease; }
  .projectListItemDescription:hover {
    opacity: .97; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .projectListItemDescription {
      position: relative;
      opacity: 1;
      margin-bottom: 20px;
      background: none;
      color: #ed7331; }
      .projectListItemDescription:hover {
        opacity: 1; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .projectListItemDescription {
      position: relative;
      opacity: 1;
      margin-bottom: 20px;
      background: none;
      color: #ed7331; }
      .projectListItemDescription:hover {
        opacity: 1; } }
  @media screen and (max-width: 480px) {
    .projectListItemDescription {
      position: relative;
      opacity: 1;
      margin-bottom: 20px;
      background: none;
      color: #ed7331; }
      .projectListItemDescription:hover {
        opacity: 1; } }

.projectListItemDescriptionName {
  font-size: 3rem;
  font-weight: lighter;
  color: #dddddd;
  margin: 5px auto 10px auto; }
  @media screen and (max-width: 1150px) and (min-width: 926px) {
    .projectListItemDescriptionName {
      font-size: 2rem;
      margin: 2px auto 5px auto; } }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .projectListItemDescriptionName {
      font-size: 2.5rem;
      color: #ed7331; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .projectListItemDescriptionName {
      font-size: 2.2rem;
      color: #ed7331; } }
  @media screen and (max-width: 480px) {
    .projectListItemDescriptionName {
      font-size: 2rem;
      color: #ed7331; } }

.projectListItemDescriptionText {
  font-size: 1.5rem;
  letter-spacing: 1.1px; }
  @media screen and (max-width: 1150px) and (min-width: 926px) {
    .projectListItemDescriptionText {
      font-size: 1.2rem;
      margin: 0 0 20px 0; } }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .projectListItemDescriptionText {
      font-size: 1.3rem; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .projectListItemDescriptionText {
      font-size: 1.2rem; } }
  @media screen and (max-width: 480px) {
    .projectListItemDescriptionText {
      font-size: 1rem; } }

.projectListItemDescriptionLink {
  border: 1px solid #dddddd;
  font-weight: bold;
  letter-spacing: 2px;
  color: #dddddd;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.5rem; }
  .projectListItemDescriptionLink:hover {
    background: #dddddd;
    color: #ed7331; }
  @media screen and (max-width: 1150px) and (min-width: 926px) {
    .projectListItemDescriptionLink {
      font-size: 1.2rem;
      margin: 0; } }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .projectListItemDescriptionLink {
      color: #ed7331;
      font-size: 1.3rem; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .projectListItemDescriptionLink {
      color: #ed7331;
      font-size: 1.2rem; } }
  @media screen and (max-width: 480px) {
    .projectListItemDescriptionLink {
      color: #ed7331;
      font-size: 1rem; } }

.projectListItemImage {
  width: 100%;
  border-radius: 5px; }

.contact {
  min-height: calc(100vh - 115px);
  background: #222222;
  color: #d0d0d0;
  padding: 115px 10% 50px 10%;
  color: #ed7331; }
  .contact::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .contact {
      padding: 75px 5% 50px 5%; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .contact {
      padding: 75px 5% 50px 5%; } }
  @media screen and (max-width: 480px) {
    .contact {
      padding: 75px 5% 50px 5%; } }

.contactLeft {
  width: 40%;
  display: inline-block;
  float: left; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .contactLeft {
      width: 100%; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .contactLeft {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .contactLeft {
      width: 100%; } }

.contactHeader {
  font-size: 2rem;
  margin: 0 0 15px 0;
  font-weight: lighter; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .contactHeader {
      font-size: 3rem; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .contactHeader {
      font-size: 3rem; } }
  @media screen and (max-width: 480px) {
    .contactHeader {
      font-size: 3rem; } }

.contactLinkWrap {
  display: block;
  margin: 5px 0; }

.contactIcon {
  width: 25px; }

.contactLink {
  text-decoration: none;
  box-sizing: border-box;
  color: #ed7331;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 2.25rem;
  padding: 3px 18px;
  border-radius: 3px;
  transition: all 0.25s ease; }
  .contactLink:hover {
    background: #ed7331;
    color: #d0d0d0; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .contactLink {
      font-size: 1.3rem; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .contactLink {
      font-size: 1.15rem; } }
  @media screen and (max-width: 480px) {
    .contactLink {
      font-size: 1.15rem; } }

.contactRight {
  width: 58%;
  display: inline-block;
  float: right;
  text-align: right; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .contactRight {
      margin-top: 10px;
      width: 100%;
      text-align: left; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .contactRight {
      margin-top: 10px;
      width: 100%;
      text-align: left; } }
  @media screen and (max-width: 480px) {
    .contactRight {
      margin-top: 10px;
      width: 100%;
      text-align: left; } }

.contactFormHeader {
  font-weight: lighter;
  font-size: 3rem;
  margin: 0; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .contactFormHeader {
      font-size: 2.5rem; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .contactFormHeader {
      font-size: 2.5rem; } }
  @media screen and (max-width: 480px) {
    .contactFormHeader {
      font-size: 2.5rem; } }

.formElement {
  box-sizing: border-box;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 10px 0;
  border: none; }

.formTopRow {
  width: 100%; }

.formName {
  width: 45%;
  margin-right: 10%; }

.formEmail {
  width: 45%; }

.formComments {
  width: 100%;
  resize: none; }

.formSubmit {
  width: 45%;
  color: #d0d0d0;
  background: #ed7331;
  transition: all 0.25s ease; }
  .formSubmit:hover {
    background: white;
    color: #ed7331; }

.footer {
  background: #222222;
  padding: 0 10%; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .footer {
      padding: 0 5%; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .footer {
      padding: 0 5%; } }
  @media screen and (max-width: 480px) {
    .footer {
      padding: 0 5%; } }

.footerText {
  border-top: 1px solid #141414;
  color: rgba(237, 115, 49, 0.4);
  margin: 0;
  padding: 10px 0 20px 0; }
